@import "tailwindcss";

@theme {
    --font-sans: "Open Sans", sans-serif;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

body{
    margin:0;
    background:#f8fafc;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
}